<h1>Update your order</h1>

<div class="card card-wrapper card-text-block">
  <h3><%= @product.name %></h3>
  <p>Sold by: <%= @seller.company_name %></p>
  <p>Order date: <%= @order.created_at %></p>
  <%= simple_form_for [@seller, @product, @order] do |f| %>
    <%= f.input :size, label: "How many do you want?" %>
    <%= f.button :submit %>
  <% end %>
</div>


<div><%= link_to "Back to all orders", seller_product_orders_path(@seller, @product), class: "btn btn-primary" %>
</div>
<div><%= link_to "Delete your order", seller_product_order_path(@seller, @product, @order),
  method: :delete,
  data: {confirm: "Are you sure?"},
  class: "btn btn-danger" %>
</div>

<div><%= link_to "Back to shop", root_path, class: "btn btn-primary" %>
</div>
