<h1>This is an overview of all your orders</h1>

<% @orders.each do |order| %>
  <div class="card card-wrapper card-text-block">
    <h3><%= @product.name %></h3>
    <p>Sold by: <%= @seller.company_name %></p>
    <p>Size: <%= order.size %></p>
    <p>Order date: <%= order.created_at %></p>
    <div><%= link_to "View", seller_product_order_path(@seller, @product, order), class: "btn btn-primary" %>
    </div>
    <div><%= link_to "Edit", edit_seller_product_order_path(@seller, @product, order), class: "btn btn-primary" %>
    </div>
    <div><%= link_to "Delete", seller_product_order_path(@seller, @product, order),
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<div><%= link_to "Back to shop", root_path, class: "btn btn-primary" %>
</div>
