This will become the homepage

<div>
  <% @products.each do  | product | %>
    <h3><%= product.name %> <%= product.stars %></h3>
    <p>Total available: <%= product.amount %></p>
    <p>From: <%= product.seller.company_name %></p>
    <div><%= link_to "View", seller_product_path(product.seller, product), class: "btn btn-primary"%></div>
    <div><%= link_to "Edit", edit_seller_product_path(product.seller, product), class: "btn btn-primary" %>
    </div>
    <div><%= link_to "Delete", seller_product_path(product.seller, product),
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
