<h1>Choose your product</h1>

<% @seller.products.each do |product| %>
  <div class="card card-wrapper card-text-block">
    <%= product.name %>
    <%= product.amount %>
    <%= product.delivery_option %>
    <%= product.stars %>
    <div><%= link_to "View", seller_product_path(@seller, product), class: "btn btn-primary" %>
    <%= link_to "Edit", edit_seller_product_path(@seller, product), class: "btn btn-primary" %>
    <%= link_to "Delete", seller_product_path(@seller, product),
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: "btn btn-danger" %>
    </div>
  </div>
  <%= link_to "Add a product", new_seller_product_path(@seller), class: "btn btn-primary" %>
<% end %>
