<h1><%= @product.name %></h1>
<p><%= @product.amount %></p>
<p><%= @product.delivery_option %></p>
<p><%= @product.stars %></p>

<div>
  <%= link_to "Edit", edit_seller_product_path(@seller, @product), class: "btn btn-primary" %>
  <%= link_to "Delete this item", seller_product_path(@seller, @product),
    method: :delete,
    data: {confirm: "Are you sure?"},
    class: "btn btn-danger" %>
  <%= link_to "View all your orders", seller_products_path(@seller), class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "Book this product", new_seller_product_order_path(@seller, @product), class: "btn btn-primary" %>
  <%= link_to "Back to overview", root_path, class: "btn btn-primary" %>
</div>
